<launch>
  <arg name="map_file" default="$(find ee346-capstone-control)/src/maps/map_lab.yaml"/>

  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(arg map_file)"/>
  </include>

  <!-- <node pkg="ee346-capstone-control" name="navigation_control" type="navigation_control.py" output="screen"/> -->

</launch>